{% load static %}
<footer class="footer ">
    <div class="row">
      <div class="col" id="col-">
        <b class="sub-titulos">Seguinos</b>
        <a href="" class="links"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
        <a href="" class="links"><i class="fa-brands fa-instagram"></i>Instagram</a>
        <a href="" class="links"><i class="fa-brands fa-linkedin-in"></i>Linkedin</a>
        <a href="" class="links"><i class="fa-brands fa-youtube"></i>Youtube</a>
      </div>
      
      <div class="col">
        <b class="sub-titulos">Otros servicios</b>
        <a href="" class="links">MercadoLiebre Pago</a>
        <a href="" class="links">MercadoLiebre Shops</a>
        <a href="" class="links">Liebre envios</a>
      </div>
      
      <div class="col" id="col-1">
        <b class="sub-titulos">Trabaja con nosotros</b>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ingresa tu email" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="ultimo-boton btn-outline-secondary" type="button">Enviar</button>
            </div>
          </div>
      </div>
    </div>
</footer>