{% extends 'layouts/layout.html' %}

{% block content %}

<main class="signup container-fluid">
    <div class="row">
        <div class="signug-form">
            <form action="" method="POST" ">
                <h1 class="text-white text-center">Inicia sesion</h1>
                {% csrf_token %}
                <div class="mb-3">
                    <label class="text-white" for="username">Usuario:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Ingrese su usuario">
                </div>
                <div class="mb-3">
                    <label class="text-white" for="password">Constraseña:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su constraseña">
                </div>
                
                
                <button class="button">Iniciar</button>

                <p class="pb-3 text-white p-signup">{{error}}</p>
            </form>
            
            
        </div>
    </div>
</main>

{% endblock %}